<h1>Search properties by price</h1>
<form method="get" action="DoSearch" class="col-md-6">
    <div>
        Min. Price: <input name="minPrice" class="form-control"/>
    </div>
    <hr />
    <div>
        Max. Price: <input name="maxPrice" class="form-control"/>
    </div>
    <hr />
    <input type="submit" class="btn-primary float-right" value="Search"/>
</form>
